# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artefacts
*.exe
*.dll
*.pdb
*.cache
*.log
*.vsidx

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
packages/

# Others
*.dbmdl
*.bak
*.tmp
*.swp
# Ignore Visual Studio files 
